<?xml version="1.0"?>
<model>
  <name>ground_markers</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>Hyunduk Shin</name>
    <email>hyunduk@icarus-airship.com</email>
  </author>
  <description>Visual-only ground markers: red +x axis, green +y axis and 200 m quadrant tiles, for judging an airship position by eye.</description>
</model>
