<?xml version="1.0"?>
<model>
  <name>airship_base_am</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>Hyunduk Shin</name>
    <email>hyunduk@icarus-airship.com</email>
  </author>
  <description>airship_base with the hull's fluid added mass (Lamb, the drawn hull's fineness), written about the link origin. Not meant to be spawned directly: the _am members of the generic airship vehicles merge it.</description>
</model>
